<!--<svg width="18" height="11" [style]="getRotationStyle()"  viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--  <g stroke="currentColor"-->
<!--     strokeWidth="0.3">-->
<!--    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.76755 1.69867L9.78513 1.68126L17.499 9.32203L16.2134 10.5955L8.74951 3.20238L1.28543 10.5957L-0.000217326 9.32224L8.73193 0.672867L9.76755 1.69867Z" fill="black"/>-->
<!--  </g>-->
<!--</svg>-->

<svg
  class="h-6 w-6 inline-flex"
  [style]="getRotationStyle()"
  xmlns="http://www.w3.org/2000/svg"
  fill="none"
  viewBox="0 0 24 24"
>
  <g stroke="currentColor">
    <path fill-rule="evenodd"  clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
  </g>

</svg>
