<header class="relative mx-auto max-w-5xl">
  <div class="relative flex h-24 items-center justify-between bg-white py-3 px-4 xl:px-0">
    <div class="cursor-pointer">
      <img
        src="./assets/static/img/wd.webp"
        alt="logo"
        loading="lazy"
        class="h-8 w-[65px]" />
    </div>
    <div class="flex items-center sm:space-x-4 md:space-x-8">
      <div class="hidden items-center space-x-9 text-[0.92rem] font-semibold text-gray-700 lg:flex md:text-base">
        <button class="font-normal" (click)="onMove('variable-name')">한글2영문 축약어</button>
        <button class="font-normal" (click)="onMove('eng-abbreviate')">영어 축약어</button>
<!--        <button class="font-normal">배란일계산기</button>-->
      </div>
      <div class="flex items-center space-x-2 lg:space-x-3">
        <div class="flex items-center">
<!--          <button *ngIf="!isLogin" class="rounded-3xl border px-2.5 py-2.5 text-center-->
<!--                                          text-sm font-semibold transition-colors-->
<!--                                          border-gray-500 text-sm transition-colors-->
<!--                                          hover:border-white hover:bg-black-->
<!--                                          hover:text-white">-->
<!--            로그인-->
<!--          </button>-->
<!--          <button *ngIf="isLogin">-->
<!--            <app-profile-menu></app-profile-menu>-->
<!--          </button>-->
<!--        </div>-->
<!--        <div class="md:block hidden">-->
<!--          <app-locale-list-box></app-locale-list-box>-->
        </div>
        <app-hamburger class="lg:hidden block"></app-hamburger>
      </div>

    </div>
  </div>
</header>
