<section class="relative pb-1 sm:pb-5 ">
  <div class="mx-auto lg:px-0 max-w-[820px] ">
    <div class="flex flex-col-reverse lg:flex-row">
      <div class="flex-auto self-center">
        <div class="lg:leading-[58px] lg:text-4xl text-2xl text-black break-keep font-bold leading-[36px] lg:px-0 px-5">
          <div class="relative lg:block inline-block">
            <span class="lg:px-0">영문 축약어</span>
          </div>
          <div class="relative lg:block inline-block">
            <span class="lg:px-0">쉽게 만들어보세요!</span>
          </div>
        </div>
        <div class="text-2xl  text-black break-keep mt-7 px-5 lg:px-0 lg:block">영문을 축약어로 만들어줍니다.</div>
        <div class="xl:text-2xl text-[20px] relative xl:ml-[-25px] text-black break-keep mt-7 px-5 lg:px-0 lg:block">
          RegistDateTime > RGST_DT
          <div class="-z-10 absolute bg-gray-300 left-0 bottom-0 bg-highlight w-11/12 h-3 self-center rounded-full"></div>
        </div>
      </div>
      <div class="flex-auto self-center mb-5">
        <div class="flex justify-center">
          <img src="./assets/static/img/main_img.webp" class="object-fill w-[360px] h-[360px] rounded" alt="영문 축야어 이미지">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="w-full flex justify-center flex-col mx-auto max-w-5xl ">
  <div class="grid grid-cols-1 gap-1"><div class="flex flex-col items-center rounded-[20px] text-gray-300 lg:w-auto">
    <div class="grid grid-cols-1 gap-1 mt-5 w-[100%]">
      <h1 class="pt-2 pb-5 items-center flex justify-center text-xl font-bold text-gray-800 lg:pt-0 lg:text-2xl">
        영어약어를 쉽게 만들 수 있습니다.
      </h1>
      <h2  class="pt-2 pb-5 items-center flex justify-center font-bold text-gray-800 lg:pt-0 text-xl">
        아래 입력창에 영어 단어를 입력하면 자동 영어약어를 만들어줍니다.
      </h2>
      <div class="flex items-center justify-center text-black">
        <app-input-text class="w-[50%]" #TestEle
                        [Placeholder]="'RegistDateTime'"
                        [name]="'sample'"
                        (valueChange)="onValueChange($event)"
                        [isFocus]="true"
                        (enterPressed)="onEnterPressed($event)"></app-input-text>
        <app-search-icon  class="ml-3 p-2 text-gray-400 cursor-pointer hover:text-indigo-200 border-2 rounded-2xl flex items-center justify-center w-12 h-full hover:bg-gray-500 "
                          (click)="onClick(TestEle)"></app-search-icon>

        <button class="rounded-3xl border px-2.5 py-2.5 text-center
                bg-white text-black ml-2
                text-sm font-semibold transition-colors
                border-gray-500
                hover:border-white hover:bg-black
                hover:text-white">
          초기화
        </button>
      </div>
    </div>
    <div class="w-full mb-52 pl-10 pr-10 lg:p-0 lg:pt-5">
      <p class="pt-2 pb-2 text-xl font-bold text-gray-800 lg:pt-0 lg:text-2xl">구성정보</p>
      <div style="overflow:auto; min-width:295px">
        <table class="w-full">
          <thead>
          <tr class="border-b-[1px] border-gray-700">
            <th class="pb-3 pt-3 pl-5 pr-5 text-black">축약어</th>
            <th class="pb-3 pt-3 pl-5 pr-5 text-black">축약수</th>
          </tr>
          </thead>
          <tbody class="text-center">
          <tr class="border-b-[1px] border-gray-300" *ngFor="let obj of resultData">
            <td class="text-gray-600 pb-3 pt-3 pl-5 pr-5">{{obj.text}}</td>
            <td class="text-gray-600 pb-3 pt-3 pl-5 pr-5">{{obj.length}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  </div>
</section>
