
<section class="w-full flex justify-center flex-col mx-auto max-w-5xl ">
  <div class="pl-5">
    <h3 class="text-xl font-bold text-gray-800 mt-2">
      ⦁ 업데이트 내역
    </h3>
    <ul class="text-[16px] text-gray-600 pl-5">
      <li>2024.03.07 : 코드 표기법 변환기 기능 추가</li>
      <li>2024.01.14 : 파파고 번역에 따른 변수 추천 기능 추가</li>
      <li>2023.12.25 : 공공데이터 공통표준용어에 따른 형태소 분석 기능 추가</li>
      <li>2023.12.24 : 2023년 공공데이터 공통표준용어 추가</li>
      <li>2023.12.01 : 2022년 공공데이터 공통표준용어 추가</li>
      <li>2023.11.01 : 2021년 공공데이터 공통표준용어 추가</li>
      <li>2023.10.01 : 형태소 분석을 통한 축약어 단어 수정</li>
      <li>2023.08.01 : 영문 축약어 생성 서비스 오픈</li>
    </ul>
  </div>
</section>
