<section class="relative pb-1 sm:pb-5 ">
  <div class="mx-auto lg:px-0 max-w-[820px] ">
    <div class="flex flex-col-reverse lg:flex-row">
      <div class="flex-auto self-center">
        <div class="lg:leading-[58px] lg:text-4xl text-2xl text-black break-keep font-bold leading-[36px] lg:px-0 px-5">
          <div class="relative lg:block inline-block">
            <span class="lg:px-0">코드 표기법 변환기</span>
          </div>
          <div class="relative lg:block inline-block">
            <span class="lg:px-0">쉽게 만들어보세요!</span>
          </div>
        </div>
        <div class="text-2xl  text-black break-keep mt-7 px-5 lg:px-0 lg:block">코드 표기법을 쉽게 변화해줍니다.</div>
        <div class="text-2xl  text-black break-keep mt-1 px-5 lg:px-0 lg:block">파스칼, 스네이크, 카멜 변수를 쉽게 변환하세요!</div>
        <div class="xl:text-2xl text-[20px] relative xl:ml-[-25px] text-black break-keep mt-7 px-5 lg:px-0 lg:block">
          RGST_DT > rgstDt, RgstDt, rgst_dt, rgst-dt
          <div class="-z-10 absolute bg-gray-300 left-0 bottom-0 bg-highlight w-11/12 h-3 self-center rounded-full"></div>
        </div>
      </div>
      <div class="flex-auto self-center mb-5">
        <div class="flex justify-center">
          <img src="./assets/static/img/main_img.webp" class="object-fill w-[360px] h-[360px] rounded" alt="코드 표기법 변환기 이미지">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="w-full flex justify-center flex-col mx-auto max-w-5xl ">
  <div class="grid grid-cols-1 gap-1"><div class="flex flex-col items-center rounded-[20px] text-gray-300 lg:w-auto">
    <div class="grid grid-cols-1 gap-1 mt-5 w-[100%]">
      <h1 class="pt-2 pb-5 items-center flex justify-center text-xl font-bold text-gray-800 lg:pt-0 lg:text-2xl">
        코드 표기법을 쉽게 만들 수 있습니다.
      </h1>
      <h2  class="pt-2 pb-5 items-center flex justify-center font-bold text-gray-800 lg:pt-0 text-xl">
        아래 입력창에 임의 표기법의 변수를 입력하면 자동 다른 표기법으로 만들어줍니다.
      </h2>
      <div class="flex items-center justify-center text-black">
        <app-input-text class="w-[50%]" #TestEle
                        [Placeholder]="'RgstDt | rgstDt | rgstDt | rgst_dt | rgst-dt | rgst dt'"
                        [name]="'sample'"
                        (valueChange)="onValueChange($event)"
                        [isFocus]="true"
                        (enterPressed)="onEnterPressed($event)"></app-input-text>
        <app-search-icon  class="ml-3 p-2 text-gray-400 cursor-pointer hover:text-indigo-200 border-2 rounded-2xl flex items-center justify-center w-12 h-full hover:bg-gray-500 "
                          (click)="onClick(TestEle)"></app-search-icon>

        <button class="rounded-3xl border px-2.5 py-2.5 text-center
                bg-white text-black ml-2
                text-sm font-semibold transition-colors
                border-gray-500
                hover:border-white hover:bg-black
                hover:text-white">
          초기화
        </button>
      </div>
    </div>
    <div class="w-full pl-10 pr-10 lg:p-0 lg:pt-5">
      <p class="pt-2 pb-2 text-xl font-bold text-gray-800 lg:pt-0 lg:text-2xl">구성정보</p>
      <div style="overflow:auto; min-width:295px">
        <table class="w-full">
          <thead>
          <tr class="border-b-[1px] border-gray-700">
            <th class="pb-3 pt-3 pl-5 pr-5 text-black">변수명</th>
            <th class="pb-3 pt-3 pl-5 pr-5 text-black">표기 방식</th>
          </tr>
          </thead>
          <tbody class="text-center">
          <tr class="border-b-[1px] border-gray-300" *ngFor="let obj of resultData">
            <td class="text-gray-600 pb-3 pt-3 pl-5 pr-5">
              <div class="flex items-center justify-center" (click)="copyClipboard(obj.text)">
                {{obj.text}}
                <app-copy-icon class="text-gray-400 "></app-copy-icon>
              </div>
            </td>
            <td class="text-gray-600 pb-3 pt-3 pl-5 pr-5">{{obj.type}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
</section>

<section  class="w-full flex justify-center flex-col mx-auto max-w-5xl p-5 mt-5">
  <h2  class="pt-2 mt-5 pb-5 items-center flex justify-center font-bold text-gray-800 lg:pt-0 text-xl">
    프로그래밍 상 주요 표기법
  </h2>
  <h3 class="text-xl font-bold mt-2">
    ⦁ 카멜 표기법 (Camel Case):
  </h3>
  <p class="text-[16px] pl-5">
    예시: camelCaseExample
    <br>
    설명: 카멜 표기법은 여러 단어를 하나의 식별자로 표현할 때, 각 단어의 첫 글자를 대문자로 표기하고 나머지는 소문자로 표기하는 방법입니다. 주로 변수명, 함수명 등에서 사용됩니다.
  </p>
  <h3 class="text-xl font-bold mt-2">
    ⦁ 스네이크 표기법 (Snake Case):
  </h3>
  <p class="text-[16px] pl-5">
    예시: snake_case_example
    <br>
    설명: 스네이크 표기법은 여러 단어를 언더스코어(_)로 구분하여 표기하는 방법입니다. 주로 변수명, 파일명 등에서 사용됩니다.
  </p>
  <h3 class="text-xl font-bold mt-2">
    ⦁ 파스칼 표기법 (Pascal Case):
  </h3>
  <p class="text-[16px] pl-5">
    예시: PascalCaseExample
    <br>
    설명: 파스칼 표기법은 카멜 표기법과 유사하지만, 첫 번째 단어의 첫 글자도 대문자로 표기하는 방법입니다. 클래스명, 생성자명 등에서 주로 사용됩니다.
  </p>

  <h3 class="text-xl font-bold mt-2">
    ⦁ 하이픈 표기법 (Hyphen Case):
  </h3>
  <p class="text-[16px] pl-5">
    예시: Hyphen-case-example
    <br>
    설명: 하이픈 표기법(kebab-case)은 모든 문자를 소문자로 작성하고, 단어 사이를 하이픈('-')으로 연결하는 방식입니다. CSS 클래스명, URL, 파일명 등에서 주로 사용됩니다.
  </p>

  <h3 class="text-xl font-bold mt-2">
    ⦁ 띄어쓰기 표기법 (Free Space Case):
  </h3>
  <p class="text-[16px] pl-5">
    예시: Free space notation
    <br>
    설명: 띄어쓰기 표기법은 모든 단어를 공백으로 구분하고, 일반적으로 각 단어의 첫 글자를 대문자로 표기합니다(Title Case). 이 방식은 주로 문서 제목이나 헤더에서 사용됩니다.
  </p>
</section>
<app-update-info></app-update-info>
