
<footer class='bg-black px-4 pb-8 pt-12 lg:py-16'>
  <div class="mx-auto mb-12 max-w-[814px] items-center justify-center">
    <div class="text-gray-300 text-sm text-#D1D5DB">
      <div class="flex justify-start">
        <div>WorDic</div>
      </div>
      <p class="mt-8 lg:mt-5">
        변수명, 컬럼명, 영어약자, 스키마 표준화 도구
        <br/>
        한글 컬럼명을 영어 표현식으로 변환
      </p>
      <div
        class="mt-5 flex w-max items-center space-x-2 hover:text-gray-400"
        target="_blank"
        rel="noreferrer"
      >
        <span class="text-base text-#D1D5DB">Follow us : loeaf</span>
        <span class="text-white">@application</span>
      </div>
      <span class="text-white">© WorDic Prj.</span>
    </div>
  </div>
</footer>
