
<footer class='bg-black px-4 pb-8 pt-12 lg:py-16'>
  <div class="mx-auto mb-12 max-w-[814px] items-center justify-center">
    <div class="text-gray-300 text-sm text-#D1D5DB">
      <div class="flex justify-start">
        <div>로고</div>
      </div>
      <p class="mt-8 lg:mt-5">
        솰라솰라
        <br/>
        데헷
      </p>
      <div class="text-gray-300 w-[250px] sm:w-full break-keep">
        <div class="mt-1.5 text-sm text-white space-x-4 text-s">
          <a target="_blank" class="hover:underline ">
            개인정보 처리방침
          </a>
          <a target="_blank" class="hover:underline">
            이용약관
          </a>
        </div>
      </div>

      <a
        class="mt-5 flex w-max items-center space-x-2 hover:text-gray-400"
        target="_blank"
        rel="noreferrer"
      >
        <span class="text-base text-#D1D5DB">Follow us : </span>
        <span class="text-white">@application</span>
      </a>
      <span class="text-white">© 회사 Inc.</span>
    </div>
  </div>
</footer>
