<section class="relative pb-1 sm:pb-5 ">
  <div class="mx-auto lg:px-0 max-w-[820px] ">
    <div class="flex flex-col-reverse lg:flex-row">
      <div class="flex-auto self-center">
        <div class="lg:leading-[58px] lg:text-4xl text-2xl text-black break-keep font-bold leading-[36px] lg:px-0 px-5">
          <div class="relative lg:block inline-block">
            <span class="lg:px-0">변수 컬럼 영문 축약어</span>
          </div>
          <div class="relative lg:block inline-block">
            <span class="lg:px-0">쉽게 만들어보세요!</span>
          </div>
        </div>
        <div class="text-2xl  text-black break-keep mt-7 px-5 lg:px-0 lg:block">한글명을 영문 축약어로 만들어줍니다.</div>
        <div class="xl:text-2xl text-[20px] relative xl:ml-[-25px] text-black break-keep mt-7 px-5 lg:px-0 lg:block">
          등록일시 > RegistDateTime > RGST_DT
          <div class="-z-10 absolute bg-gray-300 left-0 bottom-0 bg-highlight w-11/12 h-3 self-center rounded-full"></div>
        </div>
      </div>
      <div class="flex-auto self-center mb-5">
        <div class="flex justify-center">
          <img src="./assets/static/img/main_img.jpeg" class="object-fill w-[360px] rounded" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="w-full flex justify-center flex-col mx-auto max-w-5xl ">
  <div class="grid grid-cols-1 gap-1">
    <app-single-use-input [title]="'컬럼명'"></app-single-use-input>
  </div>
</section>
<section class="w-full flex justify-center flex-col mx-auto max-w-5xl ">
  <div class="grid grid-cols-1 gap-1">
    <ul>업데이트 내역</ul>
    <li>2023.12.25 : 공공데이터 표준에 따른 형태소 분석 기능 추가</li>
    <li>2023.12.24 : 2023년 공공데이터 표준 용어 추가</li>
    <li>2023.12.01 : 2022년 공공데이터 표준 용어 추가</li>
    <li>2023.11.01 : 2021년 공공데이터 표준 용어 추가</li>
    <li>2023.10.01 : 형태소 분석을 통한 축약어 단어 수정</li>
    <li>2023.08.01 : 영문 축약어 생성 서비스 오픈</li>
  </div>
</section>
