<section class="w-full flex justify-center flex-col min-h-[720px] mt-10 mx-auto max-w-5xl ">
  <div class="grid grid-cols-1 gap-1">
    <app-large-use-card [title]="'테스트중'"></app-large-use-card>
  </div>
  <app-date-picker></app-date-picker>
  <app-ad-banner [ads]="ads"></app-ad-banner>
  <div class="grid grid-cols-1 gap-1">
    <app-image-uploader></app-image-uploader>
  </div>
  <div class="grid xl:grid-cols-3 xl:gap-3 grid-cols-1 gap-1">
    <app-text-card [title]="'title.introduce'" [description]="'오마이베이비 서비스를 소개합니다.'"></app-text-card>
    <app-text-card [title]="'중국황실달력'" [description]="'중국 황실 달력을 이용하여 아기 성별 예측'"></app-text-card>
    <app-text-card [title]="'배란일 예측'" [description]="'베란일을 통해 안전한 날 찾기'"></app-text-card>
    <app-text-card [title]="'배란일 예측'" [description]="'베란일을 통해 임신하기 좋은 날 찾기'"></app-text-card>
  </div>
</section>
