<section class="relative pb-1 sm:pb-5 ">
  <div class="mx-auto lg:px-0 max-w-[820px] ">
    <div class="flex flex-col-reverse lg:flex-row">
      <div class="flex-auto self-center">
        <div class="lg:leading-[58px] lg:text-4xl text-2xl text-black break-keep font-bold leading-[36px] lg:px-0 px-5">
          <div class="relative lg:block inline-block">
            <span class="lg:px-0">영문 축약어</span>
          </div>
          <div class="relative lg:block inline-block">
            <span class="lg:px-0">쉽게 만들어보세요!</span>
          </div>
        </div>
        <div class="text-2xl  text-black break-keep mt-7 px-5 lg:px-0 lg:block">한글명을 영문 축약어로 만들어줍니다.</div>
        <div class="text-2xl relative xl:ml-[-25px] text-black break-keep mt-7 px-5 lg:px-0 lg:block">
          등록일시 -> RegistDateTime -> REG_DT
          <div class="w-100 -z-10 absolute bg-gray-300 left-0 bottom-0 bg-highlight w-11/12 h-3 self-center rounded-full"></div>
        </div>
      </div>
      <div class="flex-auto self-center mb-5">
        <div class="flex justify-center">
          <img src="/assets/static/img/main_img.jpeg" class="object-fill w-full w-[360px] rounded" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="w-full flex justify-center flex-col mt-10 mx-auto max-w-5xl ">
  <div class="grid grid-cols-1 gap-1">
    <app-large-use-input [title]="'컬럼명'"></app-large-use-input>
  </div>
<!--  <app-date-picker></app-date-picker>-->
<!--  <app-ad-banner [ads]="ads"></app-ad-banner>-->
<!--  <div class="grid grid-cols-1 gap-1">-->
<!--    <app-image-uploader></app-image-uploader>-->
<!--  </div>-->
<!--  <div class="grid xl:grid-cols-3 xl:gap-3 grid-cols-1 gap-1">-->
<!--    <app-text-card [title]="'title.introduce'" [description]="'오마이베이비 서비스를 소개합니다.'"></app-text-card>-->
<!--    <app-text-card [title]="'중국황실달력'" [description]="'중국 황실 달력을 이용하여 아기 성별 예측'"></app-text-card>-->
<!--    <app-text-card [title]="'배란일 예측'" [description]="'베란일을 통해 안전한 날 찾기'"></app-text-card>-->
<!--    <app-text-card [title]="'배란일 예측'" [description]="'베란일을 통해 임신하기 좋은 날 찾기'"></app-text-card>-->
<!--  </div>-->
</section>
