<div class="flex flex-col items-center rounded-[20px] bg-gray-50 p-4 text-gray-300
            lg:p-6 lg:mb-6 lg:tb-6 lg:w-auto lg:drop-shadow-lg lg:shadow-md">
  <p class="pt-2 text-xl font-bold text-gray-800 lg:pt-0 lg:text-2xl" i18n>{{title | translate}}</p>
  <button class="flex items-center pl-4 pt-1 pb-6 text-sm
                  font-semibold text-blue-500 lg:pt-6" i18n>{{subtitle | translate}}
    <app-right-arrow-icon></app-right-arrow-icon>
  </button>
  <div class="grid grid-cols-2 gap-1 lg:gap-4 ">
    <img alt="sample-selected-image-before" class="rounded-lg object-contain h-56 min-h-56" src="" width="497" height="720">
    <img alt="sample-selected-image-before" class="rounded-lg object-contain h-56 min-h-56" src="" width="497" height="720">
  </div>
</div>
