<table class="w-full">
  <thead>
  <tr class="border-b-[1px] border-gray-700">
    <th class="pb-3 pt-3 pl-5 pr-5 text-black">단어</th>
    <th class="pb-3 pt-3 pl-5 pr-5 text-black">영어번역</th>
    <th class="pb-3 pt-3 pl-5 pr-5 text-black">축약어</th>
  </tr>
  </thead>
  <tbody class="text-center">
  <tr class="border-b-[1px] border-gray-300">
    <td class="pb-3 pt-3 pl-5 pr-5 text-black">등록</td>
    <td class="pb-3 pt-3 pl-5 pr-5 text-black">Regist</td>
    <td class="pb-3 pt-3 pl-5 pr-5 text-black">Reg</td>
  </tr>
  <tr class="border-b-[1px] border-gray-300">
    <td class="pb-3 pt-3 pl-5 pr-5 text-black">일시</td>
    <td class="pb-3 pt-3 pl-5 pr-5 text-black">Datetime</td>
    <td class="pb-3 pt-3 pl-5 pr-5 text-black">Dt</td>
  </tr>
  </tbody>
</table>
