<section class="w-full flex justify-center min-h-[720px] mt-10">
  <div class='xl:w-6/12 w-11/12'>
    <div [class]="classStyleSvc.title">sdagasdg</div>
    <div [class]="classStyleSvc.conTxtCls">
      sadgasdg
    </div>
    <div [class]="classStyleSvc.conTxtCls">
      asdgasdg
    </div>
    <div [class]="classStyleSvc.conTxtCls">
      asdgasdg
    </div>
    <div class='flex flex-col items-center rounded-[20px] bg-gray-50 p-4 mt-8 mb-8 text-gray-300 lg:p-6 lg:drop-shadow-lg lg:shadow-md'>
      <img src='/images/what-is-hama-app.png' alt='what is hama.app' />
    </div>
  </div>
</section>
