<input type="file" id="fileInput2" style="display: none;" (change)="onFileSelected($event)">
<div class="mx-auto lg:px-0 max-w-auto px-5 mb-5">
  <div>
    <div class="mx-auto text-center">
      <h1 class="text-2xl font-normal hidden lg:inline-block">지금 이미지를 업로드 해보세요</h1>
      <div class="mx-auto lg:pt-5">
        <label id="drag-drop-box-button" for="fileInput2"
               [class.bg-gray-100]="isDragging"
               (dragover)="onDragOver($event)"
               (dragleave)="onDragLeave($event)"
               (drop)="onDrop($event)"
               class="group relative block w-full rounded-md border-2
                border-dashed border-gray-400 py-3 sm:py-5 transition-colors
                bg-gray-100 lg:bg-transparent hover:bg-gray-100 border-[2px] lg:py-20">
          <div id="drag-drop-box-div" class="flex h-full flex-col items-center justify-center">
          <app-image-upload-icon></app-image-upload-icon>
            <p id="drag-drop-box-desktop-text" class="hidden text-lg font-normal text-gray-700 mt-10 lg:inline-block">클릭을 하거나 이미지를 드래그 / 드롭 해주세요.</p>
            <p id="drag-drop-box-mobile-text" class="text-sm font-normal text-gray-700 lg:hidden">지금 이미지를 업로드 해보세요</p>
            <div class="mt-5 lg:hidden inline-block">
              <div tabindex="-1" class="px-6 py-3 rounded-full bg-black text-white leading-6 cursor-pointer text-sm min-w-[170px]" for="fileInput">이미지 업로드</div>
            </div>
          </div>
        </label>
        <div class="mt-10 hidden lg:inline-block">
          <label tabindex="-1" class="px-6 py-3 rounded-full bg-black text-white leading-6 cursor-pointer min-w-[170px]" for="fileInput2">이미지 업로드</label>
        </div>
      </div>
    </div>
  </div>
</div>
