/* 스크롤바 스타일링 */
::-webkit-scrollbar {
  width: 8px; /* 스크롤바 너비 조절 */
}

::-webkit-scrollbar-thumb {
  background-color: #a0aec0; /* 스크롤바 색상 조절 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #718096; /* 스크롤바 hover 시 색상 조절 */
}
