<div class="flex cursor-pointer flex-col w-screen xl:w-auto h-96 items-center rounded-[20px]
            lg:bg-white text-gray-300 lg:drop-shadow-2xl lg:shadow-md hover:bg-gray-100">
  <p class="py-2 lg:py-5 font-bold text-gray-800 lg:text-[24px]" i18n>{{title | translate}}</p>
  <p class="inline lg:block break-words text-gray-600">{{description | translate}}</p>
  <div class="text-center h-56 min-h-56 flex item-center justify-self-center items-center mt-5">
    <img src="asdgasd" class="align-middle" alt="sample-selected-image-before">
  </div>
</div>
