<div class="flex flex-col items-center rounded-[20px] text-gray-300 lg:w-auto">
  <div class="grid grid-cols-1 gap-1 mt-5 w-[100%]">
    <div class="flex items-center justify-center text-black">
      <app-input-text class="w-[50%]" #TestEle
                      [Placeholder]="'등록일시'"
                      [name]="'sample'"
                      (valueChange)="onValueChange($event)"
                      [isFocus]="true"
                      (enterPressed)="onEnterPressed($event)"></app-input-text>
      <app-search-icon  class="ml-3 p-2 text-gray-400 cursor-pointer hover:text-indigo-200 border-2 rounded-2xl flex items-center justify-center w-12 h-full hover:bg-gray-500 "
                        (click)="onClick(TestEle)"></app-search-icon>

      <button class="rounded-3xl border px-2.5 py-2.5 text-center
                bg-white text-black ml-2
                text-sm font-semibold transition-colors
                border-gray-500
                hover:border-white hover:bg-black
                hover:text-white">
        초기화
      </button>
    </div>
  </div>
  <div class="w-full pt-5 pb-5 pl-10 pr-10 lg:p-0 scroll-auto">
    <p class="pt-2 text-xl font-bold text-gray-800 lg:pt-0 lg:text-2xl">축약어</p>
    <div style="overflow:auto; min-width:295px">
      <table class="w-full">
        <thead>
        <tr class="border-b-[1px] border-gray-700">
          <th class="pb-3 pt-3 pl-5 pr-5 text-black">영문 표기</th>
          <th class="pb-3 pt-3 pl-5 pr-5 text-black">카멜 표기</th>
          <th class="pb-3 pt-3 pl-5 pr-5 text-black">파스칼 표기</th>
          <th class="pb-3 pt-3 pl-5 pr-5 text-black">스네이크 표기(소)</th>
          <th class="pb-3 pt-3 pl-5 pr-5 text-black">스네이크 표기(대)</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr class="border-b-[1px] border-gray-300">
          <td class="pb-3 pt-3 pl-5 pr-5 text-black">
            <div class="text-gray-600 flex items-center justify-center hover:text-black cursor-pointer">
              RegistDatetime
              <app-copy-icon class="text-gray-400"></app-copy-icon>
            </div>
          </td>
          <td class="pb-3 pt-3 pl-5 pr-5 text-black">
            <div class="text-gray-600 flex items-center justify-center hover:text-black cursor-pointer">
              Reg_Dt
              <app-copy-icon class="text-gray-400 "></app-copy-icon>
            </div>
          </td>
          <td class="pb-3 pt-3 pl-5 pr-5 text-black">
            <div class="text-gray-600 flex items-center justify-center hover:text-black cursor-pointer">
              regDt
              <app-copy-icon class="text-gray-400 "></app-copy-icon>
            </div>
          </td>
          <td class="pb-3 pt-3 pl-5 pr-5 text-black">
            <div class="text-gray-600 flex items-center justify-center hover:text-black cursor-pointer">
              reg_dt
              <app-copy-icon class="text-gray-400 "></app-copy-icon>
            </div>
          </td>
          <td class="pb-3 pt-3 pl-5 pr-5 text-black">
            <div class="text-gray-600 flex items-center justify-center hover:text-black cursor-pointer">
              REG_DT
              <app-copy-icon class="text-gray-400 "></app-copy-icon>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="w-full mb-52 pl-10 pr-10 lg:p-0 lg:pt-5">
    <p class="pt-2 pb-2 text-xl font-bold text-gray-800 lg:pt-0 lg:text-2xl">구성정보</p>
    <div style="overflow:auto; min-width:295px">
      <table class="w-full">
        <thead>
        <tr class="border-b-[1px] border-gray-700">
          <th class="pb-3 pt-3 pl-5 pr-5 text-black">단어</th>
          <th class="pb-3 pt-3 pl-5 pr-5 text-black">영어번역</th>
          <th class="pb-3 pt-3 pl-5 pr-5 text-black">축약어</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr class="border-b-[1px] border-gray-300">
          <td class="text-gray-600 pb-3 pt-3 pl-5 pr-5">등록</td>
          <td class="text-gray-600 pb-3 pt-3 pl-5 pr-5">Regist</td>
          <td class="text-gray-600 pb-3 pt-3 pl-5 pr-5">Reg</td>
        </tr>
        <tr class="border-b-[1px] border-gray-300">
          <td class="text-gray-600  pb-3 pt-3 pl-5 pr-5">일시</td>
          <td class="text-gray-600  pb-3 pt-3 pl-5 pr-5">Datetime</td>
          <td class="text-gray-600  pb-3 pt-3 pl-5 pr-5">Dt</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
